.functional-page {
    padding: 20px 55px 40px 55px;
    min-height: 80vh;
    background: #fafafa;
}
.functional-title {
    font-family: "Anton", sans-serif;
}
@media (max-width: 720px) {
  .functional-page {
    padding: 0 15px 40px 15px;
  }
}