body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* .product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-card p {
  font-size: 1.2em;
  color: #333;
}

.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: #218838;
}

.cart {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.checkout-button:hover {
  background-color: #0056b3;
} */
